<!-- templates/main_app/contacts.html -->
{% extends 'base.html' %}
{% load i18n %}
{% block title %}контакты{% endblock %}

{% block content %}

    <h2> {% trans "My contacts" %} </h2>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam
    aspernatur eius, enim et, eum fugit ipsum laboriosam nostrum nulla officia placeat,
    quas quidem quo reprehenderit repudiandae temporibus ut veritatis?</span><span>Consequatur
    dolores eaque error labore reiciendis, sit tenetur unde? Ad alias delectus doloribus enim
    iure minus modi molestiae nam natus nisi nobis nostrum nulla omnis rem sed, sunt temporibus
    voluptatem!</span><span>Corporis eligendi explicabo laboriosam natus possimus reprehenderit.
    Excepturi, quibusdam, repellendus. Consectetur, in itaque laborum maxime minus odio quasi rerum
    vel. A amet, hic laboriosam molestiae molestias non optio quaerat quasi?</span><span>Amet at cum,
    debitis dolore doloremque dolorum eius eligendi enim eum facere fugiat officia, officiis placeat
    praesentium quas quo sapiente sunt tenetur velit, voluptatibus. Ad alias natus neque repellat
    temporibus.</span><span>Aliquam amet architecto assumenda cum dolore expedita quis quo totam
    vitae voluptates! Ab, aperiam asperiores dolore eaque ex itaque necessitatibus porro quas repellat.
    Aspernatur, consequatur cumque dicta eveniet quae quisquam!</span><span>Ab accusantium aperiam
    architecto at aut consectetur dignissimos distinctio dolores earum error eum excepturi explicabo
    facilis fuga inventore itaque minus modi placeat rem repellat rerum similique, suscipit voluptatem?
    Ad, quia.</span><span>Amet aspernatur consequatur doloribus et hic, molestias mollitia nam nobis
    numquam. Amet cupiditate dolor dolorem, facere facilis harum maxime mollitia non optio qui saepe
    sit, suscipit veniam veritatis vero voluptate.</span><span>Accusamus, architecto assumenda
    blanditiis doloremque dolores earum eius eum ex, excepturi ipsum, labore laudantium molestiae
    mollitia natus nemo nesciunt omnis quas quo recusandae repellat reprehenderit sequi suscipit tempora
    vero voluptatum!</span><span>A accusamus, asperiores deserunt dignissimos doloribus eos error esse
    eum eveniet ex facere ipsa maiores maxime mollitia necessitatibus, nemo omnis pariatur, porro
    praesentium quas quisquam reiciendis tempora tempore totam vitae!</span><span>Adipisci architecto
    aut blanditiis delectus deleniti dicta eaque eius ex excepturi harum ipsam ipsum laborum, minus non,
    repellendus, rerum totam voluptatem voluptatum! Asperiores, autem earum error nulla quibusdam
    repudiandae vitae!</span><span>Beatae corporis culpa deleniti, dolore, doloribus dolorum labore
    nisi omnis, pariatur possimus temporibus totam? Ab autem delectus dolores ea esse et fugiat laudantium
    molestias necessitatibus porro. Culpa eligendi optio vitae!</span><span>Beatae maxime minus mollitia
    quibusdam voluptatem? Architecto assumenda atque consequuntur dolorum ea eos hic in, necessitatibus
    nostrum quaerat quas, quasi quod tempore temporibus voluptatem? At excepturi illum ipsam laudantium
    sequi.</span><span>Aperiam beatae dolorem doloremque fugiat illo iure modi mollitia porro reiciendis
    saepe, tempora tenetur voluptatum. Adipisci, aperiam itaque! Ab delectus ducimus ea id, nesciunt nobis
    quasi quo repellendus tenetur vero!</span><span>Adipisci
    architecto culpa doloribus et eum ex expedita, impedit ipsa laborum nesciunt officiis perspiciatis
    praesentium repudiandae totam ut velit voluptatibus? Accusamus minus quam quod veritatis? Animi
    maxime molestiae perspiciatis voluptatum!</span><span>Animi deleniti dicta, doloremque in libero
    obcaecati perferendis possimus suscipit tempore veniam. Distinctio dolor explicabo fugit, impedi
    t nostrum officiis quis! Assumenda fugiat harum magni maxime modi nam nemo odit quia.</span>
    <span>Ad aliquid blanditiis, debitis iusto nostrum quia rerum soluta. Aliquam aspernatur atque
        commodi ea est eveniet, illum in iure libero magnam, molestiae quod, quos ratione repellendus
        reprehenderit ullam voluptatum. Delectus?</span><span>Atque blanditiis esse labore quam, quas
        similique sint voluptatem. A accusantium aliquam asperiores assumenda aut cumque dicta, ea, et
        ex excepturi in, incidunt inventore mollitia nisi porro quisquam totam vel.</span>
    <span>Aperiam
        consequatur cum deserunt dicta dignissimos harum, id minima molestiae quia sequi
        tenetur totam vero voluptatibus! A accusamus aperiam earum eius explicabo fuga inventore
        optio, placeat porro quasi, quibusdam tenetur.</span><span>Asperiores aut distinctio in
        iste iure, praesentium rerum similique tempore velit vero! Accusamus cupiditate earum
        expedita magnam nam quibusdam quod similique vitae. Aspernatur commodi iure qui quos saepe,
        velit voluptate!</span><span>Asperiores assumenda delectus dicta enim esse ipsum iure iusto
        laborum necessitatibus neque nihil nulla numquam, omnis perspiciatis praesentium quis
        reprehenderit similique tenetur totam unde vitae, voluptatibus voluptatum! Laborum, officia,
        optio.</span><span>Aut consequuntur cum doloremque dolores, dolorum enim expedita fugit inventore
        labore molestias nihil obcaecati officiis quis repellat, soluta tenetur velit veniam voluptate
        voluptates voluptatum? Atque hic libero nam placeat quam?</span><span>Dolorem excepturi iusto
        magni velit? Ab alias asperiores aspernatur blanditiis delectus dolore earum eligendi error
        eveniet id inventore laboriosam nihil non nulla, optio provident quo rerum sed soluta, ullam
        unde.</span><span>Accusantium adipisci aspernatur assumenda aut cumque dignissimos ducimus
        earum eligendi exercitationem facere inventore laborum maiores nesciunt nobis,
    non optio placeat quas qui quibusdam repellendus repudiandae sed sunt tempora tenetur totam?</span>
</p>

{% endblock %}