<!-- templates/main_app/index.html -->
{% extends 'base.html' %}

{% block title %}Главная страница срм{% endblock %}

{% block content %}
    <h2>Сайт-портфолио Любовь Ковалёва</h2>
<p>Привет! Меня зовут Любовь Ковалёва. Я увлекаюсь программированием на языке Python, Django, JS, Bash. </p>
<p>Я создала и веду проект telecommunications.by, пишу небольшие програмки, скрипты для малого бизнеса и для частного использования.</p>
<p>Предлагаю Вам оознакомиться с моими работами, может быть вы найдете что-то полезное для себя.</p>
<p>Я открыта для сотрудничества и предложений по работе.</p>
<p>Обращайтесь!</p>
<p></p>
<p></p>
<p></p>
<p></p>
{% endblock %}