<!-- templates/main_app/index.html -->
{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Portfolio website of web developer Lyubov Kovaleva" %}{% endblock %}
{% block meta_description %}Главная страница портфолио веб-разработчика Любови Ковалёвой. Python, Django, проекты, полезный софт.{% endblock %}
{% block og_title %}Главная | Портфолио Любови Ковалёвой{% endblock %}
{% block og_description %}Веб-разработка на Django. Проекты, полезные утилиты, услуги фрилансера Любови Ковалёвой.{% endblock %}


{% block content %}
  {% if messages %}
  <div class="page-messages">
    {% for message in messages %}
      <div class="page-message {{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}

<h2>{% trans "Hello and welcome!" %}</h2>
<p class="section-description">
    {% blocktrans %}
    My name is Lyubov Kovaleva.<br>
    I’m passionate about programming in Python, Django, Django REST Framework, JS, and Bash, and I also enjoy working with databases and API integrations.<br>
    I develop scripts and applications to automate tasks for businesses and personal use.<br><br>

    Need a small, functional, and SEO-friendly website?<br>
    Looking to automate routine tasks or connect APIs?<br>
    You’re in the right place.<br><br>

    I can help you create a custom website tailored to your needs — and if necessary, I can take care of maintenance, content updates, and security.
    {% endblocktrans %}

<br><br>
{% blocktrans %}Take a look around{% endblocktrans %}
<a class="simple-link" href="{% url 'main_app:my_projects' %}">{% trans "my projects" %}</a>

    {% blocktrans %}or you might find some{% endblocktrans %}
<a class="simple-link" href="{% url 'main_app:useful_soft' %}">{% trans "useful software" %}</a>
{% blocktrans %}you’ll like.{% endblocktrans %}
<br><br>




    {% blocktrans %}
    I am open to working on various projects and job offers.
    <br>Don’t hesitate to reach out!
    {% endblocktrans %}
</p>


<style>

.page-messages {
    margin: 20px 0;
    text-align: center;
}

.page-message {
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px auto;
    max-width: 600px;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.page-message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.page-message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.page-message.warning {
    background-color: #fff3cd;
    color: #856404;
    border: 1px solid #ffeeba;
}

.page-message.info {
    background-color: #d1ecf1;
    color: #0c5460;
    border: 1px solid #bee5eb;
}


</style>

{% endblock %}
