<!-- templates/main_app/my_projects.html -->

{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'My Projects' %}{% endblock %}
{% block content %}
    <h2>{% trans 'My Projects' %}</h2>
<p class="section-description">
    {% blocktrans %}
        These are projects I’ve created either for specific clients or as my own ideas in progress.<br>
        They are not meant for direct use without adaptation, but they give a good impression of my skills and development approach.
    {% endblocktrans %}
</p>

<div class="list-elements">
    {% for p in projects %}

            <a href="{% url 'main_app:project_detail' p.slug %}" class="soft-item-link">
                <div class="soft-item">
                    <div class="left">

            {% if p.image %}
                <div class="image-small"><img src="{{ p.image.url }}" alt="{{ p.title }}"></div>
            {% else %}
                        <div class="no-image">{% trans "No image available" %}</div>
            {% endif %}
                    </div>

                    <div class="right">
                        <h3>{{ p.title }}</h3>
                        <p>{{ p.description|safe|truncatewords:40  }}</p>

                    </div>
                </div>
            </a>

    {% endfor %}
</div>
{% endblock %}
