

{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ project.title }} | Проект Любови Ковалёвой{% endblock %}
{% block meta_description %}{{ project.description|striptags|truncatechars:150 }}{% endblock %}
{% block og_title %}{{ project.title }} | Портфолио LiuBA29{% endblock %}
{% block og_description %}{{ project.description|striptags|truncatechars:150 }}{% endblock %}
{% block og_image %}{{ project.image.url }}{% endblock %}

{% block content %}
<main class="cont">
    <a href="{% url 'main_app:my_projects' %}" class="back-btn">
        <span>&larr;</span> {% trans "Back to list" %}
    </a>

    <h2>{{ project.title }}</h2>
    <div class="soft-item">
        {% if project.image %}
            <div class="left">
                <img src="{{ project.image.url }}" alt="{{ project.title }}">
            </div>
        {% else %}
            <div class="left no-image">
                {% trans "No Image" %}
            </div>
        {% endif %}

        <div class="right">
            <div>
                {{ project.description|safe }}
            </div>

            <div class="downloads">
                <br>
                {% if project.demo_link_ru %}
                    <a href="{{ project.demo_link_ru }}" download class="btn btn-primary">
                        {% trans "Download DEMO(RU)" %}
                    </a>
                {% endif %}
                {% if project.demo_link_en %}
                    <a href="{{ project.demo_link_en }}" download class="btn btn-primary">
                        {% trans "Download DEMO(EN)" %}
                    </a>
                {% endif %}
            </div>

            {% if project.repo_link %}
                <h4><strong>{% trans "GitHub" %}:</strong></h4>
                <a class="simple-link" href="{{ project.repo_link }}" target="_blank" rel="noopener noreferrer">{{ project.repo_link }}</a>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}
