<!-- templates/main_app/project_detail.html -->
{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{project.title}}{% endblock %}

{% block content %}
<main class="cont">
    <a href="{% url 'main_app:my_projects' %}" class="back-btn">
    <span>&larr;</span> {% trans "Back to list" %}
</a>

    <h2>{{ project.title }}</h2>
    <div class="soft-item">
        {% if project.image %}
            <div class="left">
                <img src="{{ project.image.url }}" alt="{{ project.title }}">
            </div>
        {% else %}
            <div class="left no-image">
                {% trans "No Image" %}
            </div>
        {% endif %}
      <div class="right">

          <div>
    {{ project.description|safe }}
</div>
            {% if project.tech_stack %}
                <p><strong>{% trans "Tech stack" %}:</strong> {{ project.tech_stack }}</p>
            {% endif %}
{% if project.repo_link %}
    <p><strong>{% trans "GitHub" %}:</strong> <a href="{{ project.repo_link }}" target="_blank" rel="noopener noreferrer">{{ project.repo_link }}</a></p>
{% endif %}

           <div class="downloads">
                <br>


{% if project.demo_link %}
                 <a href="{{project.demo_link}}"   download class="btn btn-primary">
    {% trans "Download demo" %}

</a>{% endif %}


            </div>


</div>
    </div>
</main>
{% endblock %}