{% extends 'base.html' %}
{% load i18n static %}
{% block title %}{{ soft.title }}{% endblock %}

{% block content %}
<main class="cont">
    <h2>{{ soft.name }}</h2>

    <div class="soft-item">
        {% if soft.image %}
            <div class="left">
                <img src="{{ soft.image.url }}" alt="{{ soft.name }}">
            </div>
        {% else %}
            <div class="left no-image">
                {% trans "No Image" %}
            </div>
        {% endif %}

        <div class="right">
            <p>{{ soft.description }}</p>

            {% if soft.version %}
                <p><strong>{% trans "Version" %}:</strong> {{ soft.version }}</p>
            {% endif %}

            {% if soft.author %}
                <p><strong>{% trans "Author" %}:</strong> {{ soft.author }}</p>
            {% endif %}

            <div class="downloads">
                <h3>{% trans "Download Options" %}:</h3>

                <a href="{% static 'downloads/mantra-player-installer.zip' %}" download class="btn btn-primary">
    {% trans "Download installer" %}
</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}