<!-- templates/main_app/useful_soft.html -->
{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Useful software' %}{% endblock %}

{% block content %}
<h2>{% trans 'Useful software' %}</h2>


<p class="section-description">
    {% trans 'Here you can find software I’ve developed that is fully completed and ready to use. <br>You can download and use it for free. <br>I hope these tools will be helpful in your daily tasks or projects.' %}
</p>

<div class="list-elements">
    {% for s in soft %}
        <a href="{% url 'main_app:useful_soft_detail' s.slug %}" class="soft-item-link">
            <div class="soft-item">
                <div class="left">
                    {% if s.image %}
                    <div class="image-small">
                        <img src="{{ s.image.url }}" alt="{{ s.name }}"></div>
                    {% else %}
                        <div class="no-image">{% trans "No image available" %}</div>
                    {% endif %}
                </div>
                <div class="right">
                    <h3>{{ s.name }}</h3>
                    <p>{{ s.description|safe|truncatewords:40  }}</p>

                </div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}

