<!-- templates/main_app/useful_soft_detail.html -->
{% extends 'base.html' %}
{% load i18n static %}
{% block title %}{{ soft.name }}{% endblock %}

{% block content %}
<main class="cont">

  <a href="{% url 'main_app:useful_soft' %}" class="back-btn">
    <span>&larr;</span> {% trans "Back to list" %}
</a>

    <h2>{{ soft.name }}</h2>

    <div class="soft-item">
        {% if soft.image %}
            <div class="left">
                <img src="{{ soft.image.url }}" alt="{{ soft.name }}">
            </div>
        {% else %}
            <div class="left no-image">
                {% trans "No Image" %}
            </div>
        {% endif %}

        <div class="right">

            <p>Welcome to <b>{{soft.name}}</b></p>
            <h4>{% trans "What is it?" %}</h4>

<div>
    {{ soft.description|safe }}
</div>

             {% if soft.version %}
                <p><strong>{% trans "Version" %}:</strong> {{ soft.version }}</p>
            {% endif %}

            {% if soft.author %}
                <p><strong>{% trans "Author" %}:</strong> {{ soft.author }}</p>
            {% endif %}


            <div class="downloads">
                <br>

                <a href="{{soft.download_link}}"   download class="btn btn-primary">
    {% trans "Download installer(RU)" %}
</a>
{% if soft.english_link %}
                 <a href="{{soft.english_link}}"   download class="btn btn-primary">
    {% trans "Download installer(EN)" %}

</a>{% endif %}


            </div>
        </div>
    </div>
</main>
{% endblock %}