<!-- templates/main_app/useful_soft.html -->
{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Useful soft' %}{% endblock %}

{% block content %}
<h2>{% trans 'Useful soft' %}</h2>

<div class="list-elements">
    {% for s in soft %}
        <a href="{% url 'main_app:useful_soft_detail' s.slug %}" class="soft-item-link">
            <div class="soft-item">
                <div class="left">
                    {% if s.image %}
                    <div class="image-small">
                        <img src="{{ s.image.url }}" alt="{{ s.name }}"></div>
                    {% else %}
                        <div class="no-image">{% trans "No image available" %}</div>
                    {% endif %}
                </div>
                <div class="right">
                    <h3>{{ s.name }}</h3>
                    <p>{{ s.description|safe|truncatewords:40  }}</p>

                </div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}

