# Python
*.pyc
*.pyo
__pycache__/
*.sqlite3
 .idea/
 my_site/

# Virtual Environment
venv/
.env
env

# Django Static and Media Files

.media/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db
resume.txt
resume.docx


bot_test.py
delete_table.py
delete_then_create_as_sample.py
table_structure.py
remotedb.sqlite3