<!-- base.html -->

{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Сайт-портфолио Любовь Ковалёва{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'CSS/styles.css' %}">
</head>
<body>

    <!-- Заголовок сайта -->
    <header>
        <div class="container">

            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">
    <img src="https://res.cloudinary.com/dczzlelzw/image/upload/v1741465485/xcsdias2quuqs40gswqg.webp"
         alt="Обо мне"
         style="width: 50px; height: auto;">
</a></li>
                     <li><a href="{% url 'useful_soft' %}">Полезный софт</a></li>
                    <li><a href="{% url 'my_projects' %}">Мои проекты</a></li>
                    <li><a href="{% url 'contact' %}">Контакты</a></li>

                </ul>
            </nav>
        </div>
    </header>

    <!-- Статус подключения к Asterisk -->


    <!-- Основное содержимое страницы -->
    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <!-- Подвал -->
    <footer>
        <div class="container">
            <p>Благодарю, что посетили мой сайт <br> &copy;LiuBA29 2025</p>

        </div>
    </footer>

    <!-- JavaScript для обновления статуса Asterisk -->
    <script>

    </script>

    {% block extra_js %}{% endblock %}

</body>
</html>
