<!-- notes/article_detail.html  -->
{% load i18n static%}


<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'CSS/styles.css' %}">
</head>
<body>
<form action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">

    <div class="language-buttons">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}

        {% for language in languages %}
            <button
                type="submit"
                name="language"
                value="{{ language.code }}"
                class="language-button{% if language.code == LANGUAGE_CODE %} active{% endif %}">
                {{ language.code|upper }}
            </button>
        {% endfor %}
    </div>
</form>


<div class="card">
    <div class="img"></div>
    <h3>{{article.title}}</h3>
    <p>{{article.text }}</p>
</div>
<div class="title">
    <h2>{% trans 'Template title' %}</h2>
    <p>
{% trans 'Template text' %}

    </p>

</div>
<script src="{% url 'javascript-catalog' %}"></script>
<script src="{% static 'JS/main.js' %}"></script>
<!-- http://127.0.0.1:8000/en/jsi18n/-там посмотреть функции -->
</body>
</html>
